@font-face {
	font-family: 'Conv_Graphik LC Web Regular';
	src: url('fonts/Graphik LC Web Regular.eot');
	src: local('☺'), url('fonts/Graphik LC Web Regular.woff') format('woff'), url('fonts/Graphik LC Web Regular.ttf') format('truetype'), url('fonts/Graphik LC Web Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
    font-family: 'Anonymous Pro';
    src: url(fonts/Anonymous_Pro/AnonymousPro-Regular.ttf);
    font-weight: 400;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Conv_Graphik LC Web Regular';
    /*background-color: bisque;*/
}
.menu_header{

    margin-left: 8%;
    display: flex;
    align-items: center;
    /*background-color: cadetblue;*/
}
.menu_header li{
    padding: 15px 0.8vw;
    display: inline-block; 
}
.menu_header li:nth-child(1){
    background-image: url(img/red_triangle_small.svg);
    background-repeat: no-repeat;
    background-position: 4% 50%;
    background-size: 28% auto;
}
.menu_header li:nth-child(3){
    background-image: url(img/Rectangle_small.svg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-size: 70% auto;
}
.menu_header li:nth-child(5){
    background-image: url(img/Ellipse_small.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 40% auto;
}
.menu_header li:nth-child(7){
    background-image: url(img/yellow_small.svg);
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: 95% auto;
}
.header span{
    margin-right: 5vw;
}
main{
    display: flex;
    /*background-color: coral;*/
}
.aside{
    position: fixed;
    max-width: 80px;
    width: 5.56%;
    min-width: 40px;
    height: 95%;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*background-color: aquamarine;*/
}
.logo_aside{
    display: inline-block;
    margin-top: -20px;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120%;
}
.social img:not(:last-child){
    margin-bottom: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 5.56%;
}
.logo_desc{
    margin: 3% 0 5% -3%;
    display: flex;
    justify-content: center;
    font-size: 3.8vw;
    font-family: "Anonymous Pro";
}
.logotype{
    width: 17%;
    display: inline-block;
}
.logotype img{
    width: 90%;
}
.logotype img:first-child{
    transform: rotate(1800deg);
    transition: 250s;
}
.logotype img:last-child{
    margin-top: -55%;
    margin-left: 32%; 
}
.descript{
    width: 62%;
    margin-left: 7%;
    padding-top: 5%;
}
.descript p img:nth-child(1){
    position: relative;
    width: 6%;
}
.descript p img:nth-child(3){
    position: relative;
    width: 10%;
}
.descript p img:nth-child(5){
    position: relative;
    width: 6%;
}
.descript p img:nth-child(7){
    position: relative;
    width: 11%;
    margin-top: 1.5%;
}
.choise_prof, .lets_go{
    display: flex;
    flex-direction: column;    /*кнопки*/
    align-items: center;
    font-family: "Anonymous Pro";
}
.choise_prof{
    margin: 2.0% 0 2.8% 0;
}

.lets_go{
    margin: 4.8% 0 2.8% 0;
}

.choise_prof button, .lets_go button{
    font-size: 1.9vw;
    padding: 2% 5%;
    border: 0.3vw solid black;
    border-radius: 4vw;
    white-space: nowrap;   /*кнопки*/
    font-weight: 700;
    background-color: #E5E5E5;
}
.choise_prof button:hover, .lets_go button:hover, .footer_butt:hover{
    border: 3px solid #FF5F49;
    background-color: #FF5F49;
    color: #242938;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 0 black;
}
.choise_prof button:focus, .lets_go button:focus, .footer_butt:focus{
    border: 3px solid #FF5F49;
    color: #242938;
}
.choise_prof button:active, .lets_go button:active, .footer_butt:active{
    border: 3px solid #FF5F49;
    color: #242938;
    background-color: #FF5F49;
    transform: translateY(0px);
    box-shadow: 0 10px 0 0 white;
}



.grey_text{
    font-size: 1.8vw;
    color: #c5c5c5;
    font-family: 'Conv_Graphik LC Web Regular';
    line-height: 137%;
}
.brigth_text{
    font-size: 2.4vw;
    font-family: "Anonymous Pro";
}
.central_content{
    margin-bottom: 4%;
    height: 1400px;
    display: inline-block;
    position: relative;
}
.central_content img, .central_content p{
    position: absolute;
}
 





.central_animation{
    width: 100%;
    height: 700px;
    position: relative;
}
.central_animation div{
    position: absolute;
}

.child-1{
    top: -15%;
    left: -125%; 
    z-index: 3;
}
.child-1 img{
    width: 26%;
}/*new*/
.child-1._active{
    width: 100%;
    top: 14.5%;
    left: 42.5%; 
    transition: 0.5s ease 1s;
}


.child-2{
   top: 70%;
   left: 225%;
   z-index: 3; 
}
.child-2 img{
    width: 35%;
}/*profession*/
.child-2._active{
    width: 100%;
    top: 17%;
    left: 29%; 
    transition: 0.5s ease 1s;
}


.child-3{
    top: 33%;
    left: 79.5%; 
    transform: rotate(80deg);
}
.child-3 img{
    width: 200%;
}/*3angle_blue*/
.child-3._active{
    width: 7%;
    top: 75%;
    left: 54%; 
    transform: rotate(-1deg);
    transition: 0.5s ease 1s;
}


.child-4{
    top: 84%;
    left: 6.5%; 
}
.child-4 img{
    width: 40%;
}/*midlle_blue*/
.child-4._active{
    width: 4%;
    top: 4%;
    left: 35.7%; 
    transition: 0.5s ease 1s;
}


.child-5{
    top: 10.5%;
    left: 75%; 
    }
.child-5 img{
    width: 1700%;
}
/*big_blue*/
.child-5._active{
    top: -4.5%;
    left: 37.5%;
    width: 0.6%; 
    transition: all 0.5s ease 1s;
}



.child-6{
    top: 20%;
    left: -15%; 
}
.child-6 img{
    width: 20%;
}/*mini_blue*/
.child-6._active{
    width: 5%;
    top: -1.5%;
    left: 36.5%;
    transition: 0.5s ease 1s;
}


.child-7{
    top: 22%;
    left: 155%;
    transform: rotate(195deg);
    z-index: 2;
}
.child-7 img{
    width: 100%;
}/*Line 14*/
.child-7._active{
    width: 31.7%;
    top: -8%;
    left: 31.4%;
    transform: rotate(0deg);
    transition: 0.5s ease 1s;
}



.child-8{
    width: 26%;
    top: 18%;
    left: 10%;
    z-index: -2;
}
.child-8 img{
    width: 175%;
}/*rectangle_red*/
.child-8._active{
    width: 19%;
    top: 19%;
    left: 29.5%;
    transition: 0.5s ease 1s;
}



.child-9{
    top: 37%;
    left: -4.5%;
}
.child-9 img{
    width: 175%;
}/*big_uncolor*/
.child-9._active{
    width: 10%;
    top: 52.4%;
    left: 26.7%;
    transition: 0.5s ease 1s;
}


.child-10{
    top: 57.3%;
    left: 55%;
}
.child-10 img{
    width: 180%;
}/*middle_uncolor*/
.child-10._active{
    width: 5.2%;
    top: 36.5%;
    left: 57.8%;
    transition: 0.5s ease 1s;
}


.child-11{
    top: 14.5%;
    left: 57.7%;
    transform: rotate(18deg);
}
.child-11 img{
    width: 170%;
}/*mini_uncolor*/
.child-11._active{
    width: 8.6%;
    top: 46.5%;
    left: 21.7%;
    transform: rotate(0deg);
    transition: 0.5s ease 1s;
}


.child-12{
    top: -22%;
    left: 51%;
    z-index: -1;
}
.child-12 img{
    width: 110%;
}/*3angle_yellow*/
.child-12._active{
    width: 10%;
    top: 6.5%;
    left: 52.7%;
    transition: 0.5s ease 1s;
}



.child-13{
    top: 56%;
    left: 74%;
    transform: rotate(154deg);
    z-index: -1;
}
.child-13 img{
    width: 180%;
}/*middle_yellow*/
.child-13._active{
    width: 1.3%;
    top: 17.8%;
    left: 35.1%;
    transform: rotate(0deg);
    transition: 0.5s ease 1s;
}


.child-14{
    top: 47%;
    left: 73%;
    transform: rotate(114deg);
    z-index: -1;
}
.child-14 img{
    width: 130%;
}/*mini_yellow*/
.child-14._active{
    width: 1.3%;
    top: 24%;
    left: 33.8%;
    transform: rotate(0deg);
    transition: 0.5s ease 1s;
}



.child-15{
    width: 6.3%;
    top: -3%;
    left: 13%;
    transform: rotate(122deg);
}
.child-15 img{
    width: 175%;
}/*Rectangle_yellow*/
.child-15._active{
    width: 4.1%;
    top: 17%;
    left: 37.5%;
    transform: rotate(0deg);
    transition: 0.5s ease 1s;
}


.child-16{
    top: 62%;
    left: 46%;
}
.child-16 img{
    width: 100%;
}/*krug_logo*/
.child-16._active{
    top: 17%;
    left: 237.5%;
    transition: 0.5s ease 1s;
}


.child-17{
    top: 44%;
    left: 70%;
    transform: rotate(30deg);
}
.child-17 img{
    width: 150%;
}/*3_red*/
.child-17._active{
    top: 17%;
    left: 237.5%;
    transition: 0.5s ease 1s;
}
.child-18{
    top: 44%;
    left: 170%;
}
.child-18 img{
    width: 34%;
}/*3_red*/
.child-18._active{
    width: 15%;
    top: 72%;
    left: 58%;
    transform: rotate(-32deg);
    transition: 0.5s ease 1s;
}

















footer{             /*начало подвала*/
    display: flex;
    flex-direction: column;

}
.footer_menu{         /*первый уровень футора*/
    display: flex;
    font-family: 'Conv_Graphik LC Web Regular';
    font-size: 1.4vw;
    align-items: stretch;
}
.footer_menu div{
    border: 0.2vw solid black;
    margin-left: -0.1vw;
    width: 33.333%;
    padding: 2%;
    line-height: 1.9vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}
.footer_menu div p{
    margin-bottom: 10%;
    
}
.footer_butt{
    border: 0.2vw solid black;
    border-radius: 3vw;
    font-size: 1.67vw;
    font-family: "Anonymous Pro";
    font-weight: 700;
    padding: 5% 8%;
    white-space: nowrap;
    background-color: white;
}

.footer_menu h3{
    font-size: 2.2vw;
    font-weight: bold;
    font-family: 'Conv_Graphik LC Web Regular';
    margin-bottom: 3%;
}
.rekruter a{
    color: black;
    text-decoration: underline;
    font-weight: 700;
}
.rekruter, .mentor, .partner{    /*анимация футора*/
    background-repeat: no-repeat;
    overflow: auto;
}
.partner{
    background-image: url(/img/Ellipse.svg);
    background-position: 85vw 1%;
}
.mentor{
    background-image: url(/img/red_triangle.svg);
    background-position: 85vw 50%;
}
.rekruter{
    background-image: url(/img/yellow.svg);
    background-position: 85vw 125%;
}
.partner:hover{
    background-position: 15vw 1%;
    transition: 0.5s;
}
.mentor:hover{
    background-position: 10vw 50%;
    transition: 0.5s;
}
.rekruter:hover{
    background-position: 10vw 105%;
    transition: 0.5s;
}





.footer_info{               /*второй уровень футора*/
    background-color: #89CBD7;
    display: flex;
    font-size: 16px;
    line-height: 28px;
    padding: 4% 0 2% 0;
    font-family: 'Conv_Graphik LC Web Regular';

}

.footer_info div:first-child{
    padding-left: 8%;
}

.footer_logo{        /*1 столбец 2 уровня*/
    display: flex;
    flex-direction: column;
}

.footer_logo img{
    width: 100%;
    margin-left:-15%;
   
}
.footer_specy{     /*2 столбец 2 уровня*/
    display: flex;
    flex-direction: column;
    
}
.footer_specy._active{     /*2 столбец 2 уровня*/
    transform: translateY(0);
    opacity: 1;
    /*transition: all 0.4s ease 0.5s;*/
}






